<!DOCTYPE HTML >
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

	<!-- Banner -->
	<div style="background-color: silver">
		<h1 style="text-align: center">Inventory</h1>
		
		<br><br>
		
		<!-- Filter Screen Link -->
		<a th:href="@{/filterForm}"
			class ="btn btn-warning btn-lrg ml-4"
			style="float: left;">
			Filter Results
		</a>
		<a th:href="@{/}" 
			class="btn btn-danger btn-lrg">
			Clear Filters
		</a>
		<!-- Add to Inventory Link Button -->
		<a th:href="@{/addItemForm}"
			class="btn btn-warning btn-lrg mr-4"
			style="float: right"
			th:classappend="${items.size() >= MAX_INV} ? disabled : ''"
			>
			<span th:text="${items.size() >= MAX_INV} ? 'Inventory is full! Delete some items' : 'Add an Item'"></span>
		</a>
		
		
		
		<!-- Result Count Heading -->
		<div style="text-align: center">
			<br><br>
			<h3 th:text=" 'Displaying: ' +${items.size()} + ' out of a maximum of ' + ${MAX_INV} + ' Results'" 
				style="text-align: center"></h3>
			<br>
			
			<!-- Get last 5 Items added Button -->
			<a th:href="@{/getMostRecent}"
				class="btn btn-lrg btn-info mb-4 col-6"
				>
				Most Recent Additions
			</a>
		</div>
		
	</div>
	
	<div>
		<table class="table table-striped table-bordered" style="text-align: center">
			<thead class="thead-dark">
				<th style="width: 25%">Name</th>
				<th style="width: 10%">Price</th>
				<th style="width: 25%">Category</th>
				<th style="width: 25%">Actions</th>
			</thead>
			
			<tbody>
				<tr th:each="tempItem: ${items}">
					<td th:text="${tempItem.name}"></td>
					<td th:text="${tempItem.price}"></td>
					<td th:text="${tempItem.category}"></td>
					
					<!-- Update and Delete buttons-->
					<td>
						<a th:href="@{/update(itemId=${tempItem.id})}"
							class ="btn btn-info btn-sm">
							Edit Item
						</a>
					
						<a th:href="@{/delete(itemId=${tempItem.id})}"
							class ="btn btn-danger btn-sm">
							Delete Item
						</a>
					</td>
			</tbody>
		</table>
	</div>
	
	<footer style="text-align: center;background-color: silver">
		<div >
			<br><br>
			<a th:href="@{/}" 
				class="btn btn-success btn-lrg">
				Back to Top
			</a>
			<br><br>
		</div>
	</footer>
	
</body>

</html>